.upload-first {
     text-align: center;
     background-color: var(--primary-color);
}

.upload-form{
     text-align: center;
     width: 50%;
     margin: auto;
}

.room-options{
     width: 100%;
}

.uploadForm{
     text-align: center !important;
}

