.profile_image{
     width: 200px;
     height: 200px;
     border-radius: 50%;
     text-align: center;
     margin: auto;
}

.a_link{
     display: flex;
     flex-direction: column;
     text-decoration: none;
     color: inherit;
}
.a_link:hover{
     color: var(--primary-color)
}