.register-first {
     text-align: center;
     background-color: var(--primary-color);
}

.registerForm {
     text-align: center !important;
     width: 50%;
     margin: auto;
}

.button {
     font-size: 25px !important;
     border-radius: 30px !important;
}

.register {
     text-align: center;
}

button:focus{
     outline: none;
}


@media (max-width: 700px) {
     .registerForm {
          width: 90%;
     }
}

