.work-first {
     text-align: center;
     background-color: var(--primary-color);
}

.workForm {
     text-align: center !important;
     width: 50%;
     margin: auto;
}

.upload{
     display: none !important;
}