.nav-slide {
     text-align: center;
}

.nav-top{
     background-color: var(--white-color) !important;
     display: flex;
     flex-direction:row-reverse
}

.nav-right{
     padding: 5px !important;
     border-radius: 10px;
     background-color: var(--primary-color);
}

.MuiListItem-button:hover{
     background-color: var(--primary-color) !important;
     color: var(--white-color);
}

.nav-pri-ul{
     margin-right: 25px;
}


@media (max-width: 600px) {
     .nav-right{
          margin-right: 20px;
     }
}