.links{
     color: var(--secondry-color)
}
.login-first {
     text-align: center;
     background-color: var(--primary-color);
}

.login-form{
     width: 40%;
     margin: auto
}
.button{
     border-radius: 10px !important;
}

.login-form{
     text-align: center;
}


@media (max-width: 700px) {
     .login-form {
          width: 90%;
     }
}



